<!-- Form match start -->
<%= form_with(model: @match, local: true) do |f| %>
<!-- Form match end -->

  <!-- Label and input for player_id start -->
  <div class="form-group">
    <%= f.label :player_id %>

    <!-- Input for player_id start -->
    <%= f.text_field :player_id, class: "form-control" %>
    <!-- Input for player_id end -->
  </div>
  <!-- Label and input for player_id end -->

  <!-- Label and input for opponent_id start -->
  <!-- Input for opponent_id start -->
  <%= f.hidden_field :opponent_id, value: @user.id %>
  <!-- Input for opponent_id end -->
  <!-- Label and input for opponent_id end -->

  <!-- Label and input for date start -->
  <div class="form-group">
    <%= f.label :date %>

    <!-- Input for date start -->
    <%= f.date_select :date, class: "form-control" %>
    <!-- Input for date end -->
  </div>
  <!-- Label and input for date end -->

  <!-- Label and input for time start -->
  <div class="form-group">
    <%= f.label :time %>

    <!-- Input for time start -->
    <%= f.date_select :time, class: "form-control" %>
    <!-- Input for time end -->
  </div>
  <!-- Label and input for time end -->

  <!-- Label and input for court_id start -->
  <div class="form-group">
    <%= f.label :court_id %>

    <!-- Input for court_id start -->
    <%= f.collection_select :court_id, Court.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for court_id end -->
  </div>
  <!-- Label and input for court_id end -->

  <%= f.submit "Create match", class: "btn btn-block btn-outline-secondary" %>
<% end %>
