<%= form_with(model: @match, local: true) do |f| %>

  <%= f.hidden_field :player_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :opponent_id %>

    <%= f.text_field :opponent_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date %>

    <%= f.date_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time %>

    <%= f.date_select :time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :court_id %>

    <%= f.collection_select :court_id, Court.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create match", class: "btn btn-block btn-outline-secondary" %>
<% end %>
