<%= form_with(model: @lesson, local: true) do |f| %>

  <%= f.hidden_field :coach_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :player_id %>

    <%= f.text_field :player_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date %>

    <%= f.date_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time %>

    <%= f.date_select :time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :court_id %>

    <%= f.collection_select :court_id, Court.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create lesson", class: "btn btn-block btn-outline-secondary" %>
<% end %>
