<div class="card mb-3">
  <h2 class="card-header h4">
    Court #<%= court.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>State</dt>
      <dd><%= court.state %></dd>

      <dt>City</dt>
      <dd><%= court.city %></dd>

      <dt>Neighborhood</dt>
      <dd><%= court.neighborhood %></dd>

      <dt>Name</dt>
      <dd><%= court.name %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back court, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_court_url(court), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to court, method: :delete, data: { confirm: "Do you really want to delete this court?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(court.updated_at) %> ago
  </div>
</div>
