<!-- Form lesson start -->
<%= form_with(model: @lesson, local: true) do |f| %>
<!-- Form lesson end -->

  <!-- Label and input for coach_id start -->
  <div class="form-group">
    <%= f.label :coach_id %>

    <!-- Input for coach_id start -->
    <%= f.collection_select :coach_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for coach_id end -->
  </div>
  <!-- Label and input for coach_id end -->

  <!-- Label and input for player_id start -->
  <div class="form-group">
    <%= f.label :player_id %>

    <!-- Input for player_id start -->
    <%= f.collection_select :player_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for player_id end -->
  </div>
  <!-- Label and input for player_id end -->

  <!-- Label and input for date start -->
  <div class="form-group">
    <%= f.label :date %>

    <!-- Input for date start -->
    <%= f.date_select :date, class: "form-control" %>
    <!-- Input for date end -->
  </div>
  <!-- Label and input for date end -->

  <!-- Label and input for time start -->
  <div class="form-group">
    <%= f.label :time %>

    <!-- Input for time start -->
    <%= f.date_select :time, class: "form-control" %>
    <!-- Input for time end -->
  </div>
  <!-- Label and input for time end -->

  <!-- Label and input for court_id start -->
  <!-- Input for court_id start -->
  <%= f.hidden_field :court_id, value: @court.id %>
  <!-- Input for court_id end -->
  <!-- Label and input for court_id end -->

  <%= f.submit "Create lesson", class: "btn btn-block btn-outline-secondary" %>
<% end %>
