<%= form_with(model: @comment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :commenter_id %>

    <%= f.collection_select :commenter_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :match_id, value: @match.id %>

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
